* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
  font-weight: 500;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: none;
  height: 1px;
  background-color: hsla(0, 0%, 80%, 0.456);
}

ul {
  list-style-type: none;
}

a {
  font-weight: 500;
  text-decoration: none;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: clamp(3.05rem, 2.53vi + 2.46rem, 4.73rem);
  line-height: 1.1;
  font-weight: 700;
  color: hsl(255, 11%, 22%);
}

button {
  border-radius: 40px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: hsl(180, 66%, 49%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: hsl(180, 38%, 70%);
}

.main {
  width: clamp(320px, 90vw, 1440px);
}

.main__top {
  display: flex;
  flex-direction: column;
  height: auto;
}

.top__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1107px;
  margin-left: 9.3rem;
  font-size: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
  font-weight: bolder;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.top__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  margin-left: 9.3rem;
  margin-bottom: 7rem;
}

.nav__mobile {
  display: none;
}

.nav__desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.desktop__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.desktop__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 5rem;
}

.item__desktop {
  color: hsl(0, 0%, 75%);
}

.item__desktop:hover {
  color: hsl(260, 8%, 14%);
}

.item__mobile {
  color: white;
}

.item__mobile:hover {
  color: hsl(180, 66%, 49%);
}

.item__button {
  padding: 0.4rem 1.1rem;
  width: 100%;
  font-size: 18px;
}

.content__left {
 text-align: left;
 flex: 0 0 50%;
}

.left__text {
  margin-bottom: 2rem;
  font-size: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
  color: hsl(257, 7%, 63%);
}

.left__button {
  padding: 1rem 2.5rem;
  font-weight: bolder;
}

.content__right {
  background-image: url(../public/illustration-working.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 900px;
  height: 500px;
}

.middle__cards {
  display: flex;
  gap: 1rem;
  min-height: 20rem;
  width: 100%;
  position: relative;
}

.middle__cards::after {
  content: "";
  display: block;
  border-top: 1px solid black;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.top__middle {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  height: auto;
  position: relative;
  background-color: rgba(236, 237, 245);
}

.middle__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  
}

.intro__title {
  font-size: clamp(1.95rem, 1.07vi + 1.7rem, 2.66rem);
}

.intro__text {
  color: hsl(257, 7%, 63%);
  max-width: 64%;
}

.cards__card {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 30%;
}

.cards__card:nth-child(1) {
  top:0;
  left: 0;
}

.cards__card:nth-child(2) {
  top: 30px;
  left: 35%;
}

.cards__card:nth-child(3) {
  top: 60px;
  left: 70%;
}

.card__pic {
  position: absolute;
  top: -40px;
  background-color: hsl(260, 8%, 14%);
  border-radius: 100%;
  padding: 1.2rem;
  display: flex;
}

.card__title {
  margin-top: 1.5rem;
}

.top__bottom {
  background-image: url(../public/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  gap: 1.2rem;
  background-color: hsl(257, 27%, 26%);
}

.bottom__title {
  color: white;
  font-size: clamp(1.95rem, 1.07vi + 1.7rem, 2.66rem);
}

.bottom__button {
  padding: 0.8rem 2rem;
  font-size: clamp(1.25rem, 0.38vi + 1.16rem, 1.5rem);
}

.top__footer {
  display: flex;
  background-color: hsl(255, 11%, 22%);
  justify-content: space-between;
  padding: 3.7rem 9.2rem 3.7rem 9rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__logo {
  margin-right: 9rem;
  min-height: 2rem;
  min-width: 7rem
}

.social__logo {
  min-height: 2rem;
  min-width: 1.5rem;
}

.nav__logo {
  min-width: 9rem;
  min-height: 2rem;
}

.column__title {
  color: white;
  margin-bottom: 0.8rem;
}

.column__option {
  color: hsl(0, 0%, 75%);
  font-weight: lighter;
  font-size: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
}

.column__option:hover {
  color: hsl(180, 66%, 49%);
}

.column__social {
  display: flex;
  gap: 1.3rem;
}

.card__input {
  margin-top: -180px;
  width: 80%;
}

.input__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-image: url(../public/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
  background-color: hsl(257, 27%, 26%);
}

.form__inputs {
  display: flex;
  width: 100%;
  gap: 2.5rem;
}

.inputs__input {
  font-size: clamp(1.25rem, 0.38vi + 1.16rem, 1.5rem);
  padding: 1rem;
  width: 70%;
  border-radius: 10px;
}

.inputs__button {
  font-size: clamp(1.25rem, 0.38vi + 1.16rem, 1.5rem);
  font-weight: bold;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  width: 30%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.loader span {
  animation: jump 1s infinite;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.url__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 1rem;
  gap: 2rem;
}

.result__right {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: hsl(180, 66%, 49%);
}

.result__text {
  font-size: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
}

.result__button {
  border-radius: 5px;
  padding: 0.2rem 1rem;
  font-size: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
}

.result__button.copied {
  background-color: hsl(257, 27%, 26%);
}

@media only screen and (max-width: 1255px) {
  .top__nav {
    margin-left: 0;
  }

  .top__content {
    gap: 2rem;
    margin-left: 0;
  }

  .top__middle {
    min-height: 1100px;
  }

  .cards__card:nth-child(1) {
    top:0;
    left: -9%;
  }
  
  .cards__card:nth-child(2) {
    top: 30px;
    left: 32%;
  }
  
  .cards__card:nth-child(3) {
    top: 60px;
    left: 74%;
  }

  .cards__card {
    width: 35%;
    padding: 1.5rem;
  }

  .footer__logo {
    margin-right: 2rem;
  }

  .top__footer {
    padding: 3.7rem 4.2rem 3.7rem 4rem;
  }

  .inputs__button {
    padding: 0.8rem 0.5rem;
  }

  .card__input {
    width: 100%;
  }
}

@media only screen and (max-width: 939px) {
  .inputs__button {
    font-size: clamp(1.25rem, 0.38vi + 1.16rem, 1.5rem);
  }

  .middle__cards {
    min-height: 25rem;
  }

  .card__input {
    width: 120%;
  }
}

@media only screen and (max-width: 790px) {
  h1 {
    font-size: clamp(2.44rem, 1.67vi + 2.05rem, 3.55rem);
  }
  .main {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .top__nav {
    padding: 0 1rem;
  }

  .nav__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mobile__mobile {
    background-color: hsl(257, 27%, 26%);
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    width: 95%;
    position: absolute;
    right: 10px;
    margin-top: 1rem;
  }

  .mobile__left,
  .mobile__right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
  }

  .item__mobile,
  .item__button {
    font-weight: bold;
    font-size: 22px;
  }
  
  .nav__desktop {
    display: none;
  }
  
  .top__content {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 10rem;
  }

  .content__left {
    text-align: center;
    padding: 0 2rem;
   }

   .left__title {
    margin-bottom: 1rem;
   }

   .content__right {
    max-width: 100%;
    height: 500px;
  }

  .top__middle {
    padding: 2rem;
  }

  .middle__cards {
    flex-direction: column;
    gap: 6rem;
  }

  .cards__card {
    position: relative;
    width: 100%;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
  }

  .card__pic {
    top: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cards__card:nth-child(1) {
    top: auto;
    left: auto;
  }
  
  .cards__card:nth-child(2) {
    top: auto;
    left: auto;
  }
  
  .cards__card:nth-child(3) {
    top: auto;
    left: auto;
  }

  .top__footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
  }

  .footer__logo {
    min-width: 8rem;
    margin-right: 0px;
  }

  .card__input {
    margin-top: -110px;
    width: 90%;
  }

  .input__form {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .form__inputs {
    flex-direction: column;
    gap: 1rem;
  }

  .inputs__input {
    width: 100%;
  }

  .inputs__button {
    font-size: clamp(1.25rem, 0.38vi + 1.16rem, 1.5rem);
    width: 100%;
    padding: 0.5rem;
  }

  .bottom__title {
    font-size: clamp(1.56rem, 0.66vi + 1.41rem, 2rem);
  }

  .url__result {
    flex-direction: column;
    gap: 0rem;
    align-items: flex-start;
    padding: 0rem;
    border-radius: 10px;
  }

  .result__right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 0rem;
  }

  .result__button {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }

  .result__line {
    width: 100%;
  }

  .result__text {
    padding: 1rem ;
  }
}

/* --fs-sm: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
--fs-base: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
--fs-md: clamp(1.25rem, 0.38vi + 1.16rem, 1.5rem);
--fs-lg: clamp(1.56rem, 0.66vi + 1.41rem, 2rem);
--fs-xl: clamp(1.95rem, 1.07vi + 1.7rem, 2.66rem);
--fs-xxl: clamp(2.44rem, 1.67vi + 2.05rem, 3.55rem);
--fs-xxxl: clamp(3.05rem, 2.53vi + 2.46rem, 4.73rem); */